[submodule "checkouts/pdfbox"]
	path = checkouts/pdfbox
	url = https://github.com/apache/pdfbox.git
[submodule "checkouts/pdfjs"]
	path = checkouts/pdfjs
	url = https://github.com/mozilla/pdf.js.git
[submodule "checkouts/pdf-lib"]
	path = checkouts/pdf-lib
	url = https://github.com/Hopding/pdf-lib.git
